<p>Componente principal este componente siempre se va a mostrar</p>

<div id="menuItems">
    <button routerLink="info">Info</button> 
    <button routerLink="categorias">Categorías</button> 
    <button routerLink="padreHijo">Padre hijo</button> <br/>
    <button routerLink="marcador">Marcadores (hijo envia a padre)</button> <br/>
    <button routerLink="nuevoMarcador">Nuevo marcador</button> <br/>

</div>

 
<!-- A través de router-outlet se hace la redirección de componentes a partir de rutas-->
<div id="contenidoPrincipal">
    <router-outlet></router-outlet>

</div>




