h1{
    text-align: center;
    background-color: blueviolet;
}
 
#contenidoPrincipal{
    margin-top: 100px;
    background-color: red;
}

button{
    margin-right: 20px;
    border-radius: 90%;
}

#menuItems{
    background-color: blue;
}