<p>Componente principal este componente siempre se va a mostrar</p>

<div id="menuItems">
    <button routerLink="info">Info</button> 
    <button routerLink="categorias">Categorías</button> 
    <button routerLink="padreHijo">Padre hijo</button> 
    <button routerLink="marcador">Marcadores (hijo envia a padre)</button> 
    <button routerLink="nuevoMarcador">Nuevo marcador</button> 
    <button routerLink="modulo1">Modulo 1 defecto</button>
    <button routerLink="modulo1/uno">Componente 1 modulo 1</button>
    <button routerLink="modulo1/dos">Componente 2 modulo 1</button>
    <button routerLink="padre-router">Padre router</button>

</div>

 
<!-- A través de router-outlet se hace la redirección de componentes a partir de rutas-->
<table id="contenidoPrincipal" border="1">
    <tr>
        <td><router-outlet></router-outlet></td>
    </tr>
    

</table>




